{% extends 'base_page.html' %}
{% load static %}
{% block mystyles %}
{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-example1 pt-2">
        <li class="breadcrumb-item"><a href="/">الاقسام</a></li>
        <li class="breadcrumb-item active" aria-current="page">جميع الاقسام</li>
    </ol>

</nav>
<div class="card custom-card">
    <div class="card-header justify-content-between">
        <div class="card-title">
            الاقسام
        </div>
        <div class="prism-toggle">
            <a href="{% url 'add_departments' %}" class="btn btn-sm btn-primary-light">اضافة قسم</a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="datatable-basic" class="table table-bordered text-nowrap w-100">
                <thead>
                    <th>#</th>
                    <th>القسم</th>
                    <th>المدير</th>
                    <th>action</th>
                </thead>
                <tbody>
                    {% for dep in departments %}
                    <tr>
                        <td>{{dep.id}}</td>
                        <td>{{dep.name}}</td>
                        <td>{{dep.user_manager.first_name}} {{dep.user_manager.last_name}}</td>
                        
                        
                        <td>
                            <a class="btn btn-info btn-sm" href="{% url 'edit_departments' dep.id %}">
                                <i class="fas fa-pencil-alt">
                                </i>
                                تعديل
                            </a>
                            <a class="btn btn-danger btn-sm" href="#" data-bs-toggle="modal"
                                data-bs-target="#modal-delete{{dep.id}}">
                                حذف
                            </a>
                            
                            <div class="modal fade" id="modal-delete{{dep.id}}" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h6 class="modal-title" id="staticBackdropLabel">مسح القسم
                                            </h6>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-center">are you sure to delete {{dep.name}} ?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">اغلاق</button>
                                            <a class="btn btn-primary" href="{% url 'delete_departments' dep.id %}" >مسح</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    function release() {
        $.ajax({
            url: "/cameras/release/",
            type: "GET",
            success: function (data) {

            },
            error: function (xhr, status, error) {

                console.error(error);
            }
        });
    }

    release()

</script>
{% endblock %}