<div class="col-xxl-6 col-lg-6 col-md-6">
    <div class="card custom-card overflow-hidden">
        <div class="card-body">
            <div class="d-flex align-items-top justify-content-between">
                <div>
                    <span class="avatar avatar-md avatar-rounded bg-primary">
                        <i class="ti ti-users fs-16"></i>
                    </span>
                </div>
                <div class="flex-fill ms-3">
                    <div class="d-flex align-items-center justify-content-between flex-wrap">
                        <div>
                            <p class="text-muted mb-0"> {{title}}</p>
                            <h4 class="fw-semibold mt-1">{{number}}</h4>
                        </div>
                        <div id="crm-total-customers"></div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-1">
                        <div>
                            <a class="text-primary" href="{% url 'show_table' 1 %}">رؤية الجميع<i class="ti ti-arrow-narrow-right ms-2 fw-semibold d-inline-block"></i></a>
                        </div>
                        <div class="text-end">
                            <p class="mb-0 text-success fw-semibold">+40%</p>
                            <span class="text-muted op-7 fs-11">هذا الشهر </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>