{% extends 'base_page.html' %}
{% load static %}
{% block mystyles %}
{% endblock %}
{% block content %}
{% include 'widgets/title_widget.html' with title='المستخدمين' sub_title='تغير الباسود' %}
<div class="card custom-card">
    <div class="card-header justify-content-between">
        <div class="card-title">
            تغير الباسود
        </div>
        <div class="prism-toggle">
        </div>
    </div>
    <div class="card-body">
        {% include 'widgets/errors.html' %}
        <form class='row g-3' method='post'>
            {% csrf_token %}
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <label class="form-label">كلمة السر الحالية</label>
                {{form.old_password}}
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <label class="form-label"> كلمة السر الجديدة</label>
                {{form.new_password1}}
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <label class="form-label">تاكيد كلمة السر</label>
                {{form.new_password2}}
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12"></div>
            <button class='btn btn-primary w-25' type='submit'>
                تعديل
            </button>

        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}