{% extends 'base_page.html' %}
{% load static %}
{% block mystyles %}
<style>
    .popover{
        background-color: transparent !important;

    }
</style>
{% endblock %}
{% block content %}
{% block models %}
<div class="modal fade" id="formmodal" tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="exampleModalLabel">اضافة سبب</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form onsubmit="add_reason(event)" id="form">
                
                <div class="mb-3">
                    <label for="recipient-name"
                        class="col-form-label">الموظف:</label>
                    <input type="text" class="form-control" id="recipient-name" readonly>
                </div>
                <div>
                    <p class="fw-semibold mb-2">الاذن</p>
                    <select class="form-control" data-trigger name="choices-single-default" id="id_reason" required>
                        {% for reason in reasons %}
                        <option value="{{reason.id}}">{{reason.name}}</option>
                        {% endfor %}
                    </select> 
                </div>
                
                <div class="mb-3">
                    <label for="recipient-name"
                        class="col-form-label">كود الجهة :</label>
                    <input type="text" class="form-control" id="code" >
                </div>
               
                <div class="mb-3">
                    <label for="message-text"
                        class="col-form-label">السبب:</label>
                    <textarea class="form-control" id="message-text"></textarea>
                </div>
                <input type="hidden" name="id" id="id">
                <input type="hidden" name="id_detect" id="id_detect">
            </form>
        </div>
        <div class="modal-footer">
            
            <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">اغلاق</button>
            <button type="button" data-bs-dismiss="modal" onclick="submit()" class="btn btn-primary">حفظ</button>
        </div>
    </div>
</div>
</div>
{% endblock %}
<div class="row mt-4">

  <div class="col-xl-3">
    <div class="team-groups">
        <div class="card custom-card">
            <div class="card-header d-flex align-items-center justify-content-between">
                <span class="fs-4" id="counter">0</span> <span class="card-title">{{camera.name}} <span class="small text-success">Live</span></span>
            </div>
            <div class="card-body p-0 pb-4">
                <div class="teams-nav" id="teams-nav">
                    <ul class="list-unstyled mb-0 mt-2 "  id="resultCamera{{camera.id}}">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
  <div class="col-xl-9">
      <div class="team-members" id="team-members">
          <div class="row">
              <div class="col-xl-12">
                  <div class="card custom-card">
                      <div class="card-body">
                        {% block camera %}
                        <img id="video" style="width: 100%; height: 100% !important;" src="/livefeed/video/{{camera.id}}" alt="loading.."  class="border rounded mt-2">
                        {% endblock camera %}
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
 
</div>
{% endblock %}

{% block  scripts %}
<script src="{% static 'dist/js/team.js' %}"></script>
<script src="{% static 'dist/js/modal.js' %}"></script>
 <script>
    $(function () {
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox({
        alwaysShowClose: true
      });
    });
    setInterval(()=>{
    $.ajax({
                url: `/result_cameras/{{camera.id}}/`,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                  
                   data.data.forEach(function (obj) {
                    console.log(obj)
                  
    var url="{% url 'view_person' 5 %}".replace(5,obj.id_person)
                    var newDiv = `
                    
                    <li id="p${obj.id_person}" class="row align-items-center justify-items-center">
                       
                            <a href="${url}" target="_blank" class="col-10" >
                                
                                    <div class="me-2 d-flex align-items-center ">
                                        <span class="avatar avatar-lg avatar-rounded" style="border: 3px solid ${obj.category};">
                                            <img src="http://localhost:8000${obj.img}" alt="">
                                        </span>
                                        <span class="ps-2" style="color:${obj.category}">${obj.name}</span>
                                    </div>
                                   
                            </a>
                                            <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-light" data-bs-toggle="modal"
                                            data-bs-target="#formmodal" data-bs-whatever="${obj.name}" data-bs-id="${obj.id}" data-bs-detect="${obj.des}">
                                                <i data-bs-toggle="popover"
                                                data-bs-placement="right" data-bs-custom-class="${obj.permission ? 'popover-' + obj.permission.color + '-light' : ''}"
                                                title="${obj.permission ? obj.permission.title : ''}"
                                                data-bs-content="${obj.permission ? obj.permission.message : ''}" class="fe fe-more-vertical"></i> 
                                            </a>
                                           
                        </li>
                            `;
  if (!$("#resultCamera"+obj.id_camera+" #p"+obj.id_person).length > 0) {
    $('#counter').text(Number($('#counter').text()) + 1);
      $("#resultCamera"+obj.id_camera).prepend(newDiv);
      onPopOver()
  }
            });
                },
                error: function (error) {

                    console.log('Error:', error);
                }
            });
   },500);

  });
  

  function submit(){
    $('#form').submit()
  }
  function add_reason(event){
    event.preventDefault()
    $.ajax({
    type: 'POST',
    url: '/persons/add_reason/',
    data: {

        'id_detect': $('#id_detect').val(), 
        'id_reason':getValue(),
        'text': $('#message-text').val(),
        'csrfmiddlewaretoken': '{{ csrf_token }}',
        // 'date':$('#datetime').val(),
        'code':$('#code').val()
    },
    success: function(msg){
        if(msg.result){
            alert('تم حفظ البيانات')
        }else{
            alert('حدث مشكلة حاول  ثانيتا')
        }
      
    }
});
    
  }

  function getValue() {

    var selectElement = document.getElementById("id_reason");

    
    var selectedOption = selectElement.options[selectElement.selectedIndex];

    
   return selectedOption.value;

}

function onPopOver(){
    const popoverTriggerList = document.querySelectorAll(
        '[data-bs-toggle="popover"]'
      );
      const popoverList = [...popoverTriggerList].map(
        (popoverTriggerEl) => new bootstrap.Popover(popoverTriggerEl)
      );
      showAllPop(popoverList)
}

function showAllPop(popoverList){
    popoverList.forEach((popover) => {
        popover.show();
      });
}

 

 </script>
{% endblock %}